@charset "UTF-8";
body,html {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
#lyrics {padding:5px;border:1px solid #333;border-radius:5px;box-shadow:0 0 8px #333;}
#lyrics span{display:;
-webkit-transition-property:color , letter-spacing , height;
-webkit-transition-duration:0.2s;}
#lyrics span:hover{letter-spacing:2px}
#lyrics span.current , #lyrics span.prev, #lyrics span.next{display:inline;}
#lyrics span.current{}
#lyrics span.prev{}
#lyrics span.next{}

#lyrics span{display:block;overflow:hidden;height:0px;font-size:14px;}
#lyrics span.current , #lyrics span.prev, #lyrics span.next , #lyrics span.far-prev, #lyrics span.far-next{display:block;height:20px;}
#lyrics span.current{height:20px;letter-spacing:2px;color:#090;font-weight:bold;}
#lyrics span.far-prev{height:20px;color:#CCC;}
#lyrics span.prev{height:20px;}
#lyrics span.next{height:20px;color:#999;}
#lyrics span.far-next{height:20px;color:#CCC;}/* CSS Document */

